[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/basis_universal"]
	path = extern/basis_universal
	url = https://github.com/BinomialLLC/basis_universal.git
[submodule "extern/assimp"]
	url = https://github.com/assimp/assimp.git
